includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor/
            - node_modules (?)
            - tests (?)
            - assets/
            - languages/
            - scripts/
            - external (?)
            - wp-cli (?)
            - dist (?)
