includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - .
    excludePaths:
        - vendor/
        - node_modules/
        - tests/
        - assets/
        - languages/
        - scripts/
        - external/
        - inc/Kirki/
        - inc/Dropdown_Select/
        - wp-cli/
