@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/


/* stylelint-disable */

a {
    color: var(--color-link);
    text-decoration: none;
}


/* stylelint-enable */

a:hover,
a:focus,
a:active {
    color: var(--color-link-active);
}

a:hover,
a:active {
    outline: 0;
}