@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	color: var(--color-link);
	text-decoration: none;
}
/* stylelint-enable */

/* a:visited {
	color: var(--color-link-visited);
} */

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus-visible {
    outline: 2px solid black;
}

a:hover,
a:active {
	outline: 0;
}
