/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Getting Started Page
# Features Table
# Community Addons
# Post Formats
# Single Post Title Style
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Getting Started Page
--------------------------------------------------------------*/

.buddyx-dashboard-tabs {
    margin: 30px 0;
}

.buddyx-dashboard-tabs .content {
    background: none;
    box-shadow: none;
}

.buddyx-dashboard-tabs .tabs {
    display: grid;
}

.buddyx-dashboard-tabs [role="tablist"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
}

@media (max-width: 480px) {
    .buddyx-dashboard-tabs [role="tablist"] {
        grid-template-columns: auto;
    }
}

.buddyx-dashboard-tabs [role="tabpanel"] {
    background: #fff;
    padding: 2rem;
}

.buddyx-dashboard-tabs button {
    display: block;
    float: left;
    padding: 15px 40px;
    border: 0;
    border-top: 3px solid #bbb;
    border-radius: 5px 5px 0 0;
    background-color: #e8e8e8;
    color: #888;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.buddyx-dashboard-tabs button[aria-selected="true"] {
    background: #fff;
    color: #ef5455;
    border-color: #ef5455;
}

.buddyx-dashboard-tabs button:focus {
    --bs-color: rgba(0, 0, 0, 0.6);
}

.buddyx-dashboard-tabs button:focus-visible {
    outline: 2px solid black;
}

.buddyx-home-body {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1200px;
}

.buddyx-col {
    padding: 15px 30px;
}

.buddyx-divider {
    margin: 30px 0;
    border: 1px solid #e3e3e3;
}

.buddyx-col img {
    width: 100%;
    height: auto;
}

.buddyx-feature-sub-title-a {
    color: #242424;
    text-decoration: none;
}

.buddyx-feature-sub-title-a:hover {
    color: #ef5455;
}

.buddyx-col a {
    text-decoration: none;
}

.buddyx-text-center {
    text-align: center;
}

h2.buddyx-feature-title {
    font-size: 40px;
}

.buddyx-feature-sub-title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
}

.buddyx-faq-title {
    margin-bottom: 1rem;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .buddyx-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        margin: 50px 0;
        align-items: center;
    }
    .buddyx-row.support {
        align-items: flex-start;
    }
}

.buddyx-title-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

.buddyx-title-icon .dashicons {
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.buddyx-feature-title {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.4;
}

.knowledge-base-doc .buddyx-feature-title {
    font-size: 18px;
}

.knowledge-base-doc .buddyx-col {
    text-align: center;
}

.buddyx-col-content {
    font-size: 18px;
    margin-bottom: 2.5rem;
}

.buddyx-faq-content {
    font-size: 16px;
}

.buddyx-btn {
    display: inline-block;
    padding: .8rem 1.8rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    border-radius: 100px;
}

.buddyx-btn-primary {
    background: #ef5455;
    color: #fff;
}

.buddyx-row.support .buddyx-btn-primary {
    margin: 0 10px 10px 0;
}

.buddyx-btn-primary:focus,
.buddyx-btn-primary:hover {
    background: #f83939;
    color: #fff;
}

.buddyx-row.video-tutorial,
.buddyx-row.faq {
    margin-bottom: -30px;
}

.buddyx-home-banner img {
    max-width: 100%;
    height: auto;
}

.buddy-plugin-row {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.addon-section {
    width: 100%;
    max-width: calc(25% - 20px);
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 1px 5px 10px -5px #dadadab3;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s;
}

.addon-section:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}

.addon-section a {
    text-decoration: none;
}

.addon-section img {
    max-width: 100%;
    height: auto;
}

.addon-content {
    padding: 15px 10px;
    text-align: center;
}

.addon-content h3 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    line-height: 1.3;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .addon-section {
        max-width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .addon-section {
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 380px) {
    .addon-section {
        max-width: calc(100% - 20px);
    }
}


/*--------------------------------------------------------------
# Features Table
--------------------------------------------------------------*/

.buddyx-features-table thead tr th,
.buddyx-features-table tbody tr td {
    padding: 5px 10px;
    border: 1px solid #e8e8e8;
}

.buddyx-features-table td.buddyx-main-feature {
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    border-left: 3px solid #000;
}

.buddyx-features-table .dashicons.dashicons-yes-alt {
    color: #008000;
}

.buddyx-features-table .dashicons.dashicons-dismiss {
    color: #ff0000;
}

table.buddyx-features-table {
    width: 100%;
}

@media (max-width: 359px) {
    .buddyx-features-table tbody tr td,
    .buddyx-features-table thead tr th {
        font-size: 11px;
        hyphens: auto;
    }
}


/*--------------------------------------------------------------
# Community Addons
--------------------------------------------------------------*/

.buddyx-row.community-addons {
    align-items: flex-start;
}


/*--------------------------------------------------------------
# Post Formats
--------------------------------------------------------------*/

.buddyx_post_format-settings {
    padding: 10px 0 0;
}

.buddyx_post_format-settings .buddyx_input_section {
    padding: 10px 0 20px 0;
}

.format-setting-label {
    border-bottom: 1px dashed #ccc;
    margin: 0 0 20px 0;
    padding: 5px 0px 1px 0px;
    width: 100%;
}

.format-setting-label .label {
    background: none;
    border: none;
    color: #222;
    cursor: text;
    display: block;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0;
    padding: 0 0 9px 0;
    text-shadow: none;
}

input#buddyx_post_audio,
input#buddyx_post_video {
    width: calc(100% - 60px);
}

.buddyx_quote_format_setting textarea {
    width: 99.9%;
    border: 1px solid #ccc;
    font-family: Consolas, Monaco, monospace;
    line-height: 150%;
    outline: 0;
    padding: 10px;
    resize: vertical;
}

.buddyx_quote_format_setting input,
.buddyx_link_format_setting input {
    width: 100%;
    border: 1px solid #ccc;
}

.buddyx_audio_format_setting .buddyx_upload_media,
.buddyx_video_format_setting .buddyx_upload_media {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
}

.buddyx_images_gallery:after {
    content: '';
    display: table;
    clear: both;
}

.buddyx_images_gallery li {
    position: relative;
    float: left;
    padding: 8px;
    margin: 0;
    color: #444;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 33.3333%;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .buddyx_images_gallery li {
        width: 20%;
    }
}

@media (min-width: 800px) {
    .buddyx_images_gallery li {
        width: 15%;
    }
}

@media (min-width: 1024px) {
    .buddyx_images_gallery li {
        width: 11.11%;
    }
}

.buddyx_images_gallery .thumbnail {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity .1s;
}

.buddyx_images_gallery .thumbnail:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.buddyx_images_gallery .thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate( 50%, 50%);
}

.buddyx_images_gallery .thumbnail .centered img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate( -50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.buddyx_images_gallery .actions .delete {
    display: none;
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    outline: none;
    text-decoration: none;
    background: #eee;
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
}

.buddyx_images_gallery li:hover .actions .delete {
    display: block;
}

.buddyx_images_gallery .actions .delete i {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------------------------
# Single Post Title Style
--------------------------------------------------------------*/

.buddyx_post_settings .buddyx_radio_list {
    display: flex;
    flex-flow: wrap;
}

.buddyx_post_settings .buddyx_radio_list li.buddyx_radio_list_item {
    position: relative;
    padding: 4px;
}

.buddyx_post_settings .buddyx_radio_list input.buddyx_radio_input {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: 0;
    outline: 0;
    opacity: 0;
}

.buddyx_post_settings .buddyx_radio_list img.post-title-image {
    max-width: 90px;
    border: 1px solid #ddd;
}

.buddyx_post_settings .buddyx_radio_list input.buddyx_radio_input:checked~img.post-title-image,
.buddyx_post_settings .buddyx_radio_list input.buddyx_radio_input:focus~img.post-title-image {
    outline: 2px solid #007cba;
}