/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global bbPress CSS
# Widgets
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global bbPress CSS
--------------------------------------------------------------*/

#bbpress-forums {
    font-size: inherit;
}

.page-header .archive-description {
    display: none;
}

.bbpress .entry-content {
    margin-top: 1em;
}

.forum-archive .bbp-breadcrumb {
    display: none;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-topics {
    font-size: 14px;
    margin-bottom: 0;
}

#bbpress-forums fieldset.bbp-form {
    min-width: calc(100% - 2px);
}

#bbpress-forums fieldset.bbp-form input[type=text],
#bbpress-forums fieldset.bbp-form select {
    min-width: 100px;
    min-height: 35px;
}

#bbpress-forums fieldset.bbp-form input[type=text] {
    width: 100%;
}

#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar {
    border: 0;
    border-radius: 50%;
}

.bbp-pagination-count {
    margin: 15px 0;
}

#bbpress-forums div.bbp-search-form {
    float: right;
    margin-bottom: 15px;
}

.bbp-search-form #bbp_search_submit {
    vertical-align: top;
}

#bbpress-forums li.bbp-header ul {
    font-size: 14px;
}

#bbpress-forums li.bbp-header,
#bbpress-forums fieldset.bbp-form {
    background-color: #f9fbff;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd,
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header,
.widgetable .bbp-login-form,
.widgetable .bbp-logged-in,
#bbpress-forums li.bbp-header,
#bbpress-forums fieldset.bbp-form {
    background-color: #f9fbff;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
    padding: 20px 35px !important;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
    padding: 10px 35px;
}

a#bbp-cancel-reply-to-link {
    margin-right: 15px;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
    padding: 25px 35px !important;
    line-height: 1;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
    background: #fff !important;
}

.mc4wp-form input,
a.bbp-forum-title,
a.bbp-topic-permalink {
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

#bbpress-forums .bbp-forum-info div.bbp-forum-content {
    line-height: 25px;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
    margin: 15px 0;
}

#bbpress-forums li.bbp-footer {
    display: none;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar {
    border-radius: 50%;
}


/* Search Form */

#bbpress-forums #bbp-search-form>div {
    display: flex;
}

@media only screen and (max-width: 767px) {
    ul li.bbp-forum-info,
    ul li.bbp-topic-title {
        width: 75%
    }
    .bbp-header ul li.bbp-forum-freshness,
    .bbp-body ul li.bbp-forum-freshness,
    .bbp-header ul li.bbp-topic-freshness,
    .bbp-body ul li.bbp-topic-freshness,
    .bbp-header ul li.bbp-forum-reply-count,
    .bbp-body ul li.bbp-forum-reply-count,
    .bbp-header ul li.bbp-topic-voice-count,
    .bbp-body ul li.bbp-topic-voice-count {
        display: none
    }
    .bbp-header ul li.bbp-topic-reply-count,
    .bbp-body ul li.bbp-topic-reply-count,
    .bbp-header ul li.bbp-forum-topic-count,
    .bbp-body ul li.bbp-forum-topic-count {
        border: none
    }
    .bbp-header ul li.bbp-forum-topic-count,
    .bbp-body ul li.bbp-forum-topic-count,
    .bbp-header ul li.bbp-topic-reply-count,
    .bbp-body ul li.bbp-topic-reply-count {
        width: 25%
    }
    #bbpress-forums div.bbp-search-form {
        float: none;
    }
    #bbpress-forums #bbp-search-form #bbp_search {
        width: 100%;
    }
    #bbpress-forums div.bbp-search-form input,
    #bbpress-forums div.bbp-search-form button {
        font-size: inherit;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 320px) {
    #bbpress-forums li.bbp-header li.bbp-forum-info,
    #bbpress-forums li.bbp-header li.bbp-topic-title {
        text-align: left;
    }
    #bbpress-forums li.bbp-header li.bbp-forum-info,
    #bbpress-forums li.bbp-body li.bbp-forum-info,
    #bbpress-forums li.bbp-header li.bbp-topic-title,
    #bbpress-forums li.bbp-body li.bbp-topic-title {
        width: 75%;
    }
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget.widget_display_replies li+li,
.widget.widget_display_views li+li,
.widget.widget_display_forums li+li,
.widget.widget_display_topics li+li {
    border-top: 1px solid #e3e3e3;
}

.widget.widget_display_replies li,
.widget.widget_display_views li,
.widget.widget_display_forums li,
.widget.widget_display_topics li {
    padding: 10px 0;
}

.widget.widget_display_stats dl {
    text-align: center;
}

.widget .mc4wp-form input,
.widget a.bbp-forum-title,
.widget a.bbp-topic-permalink {
    line-height: inherit;
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
}

.widget #bbp_search {
    width: 100%;
    margin-bottom: 10px;
}