/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Media
		# Captions
		# Galleries (Legacy)
# Post and page content
	# Alignments
	# Custom block colors
	# Custom font sizes
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/

@import "_media.css";

/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

.entry {
    margin-bottom: 1rem;
}

.post-layout .entry-layout {
    position: relative;
}

.entry-header {
    position: relative;
}

.entry-meta,
.single-post .entry-footer {
    font-size: inherit;
}


/* Entry meta */

.entry-meta {
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-size: 12px;
}

.entry-meta .posted-by img {
    margin-right: 5px;
    border-radius: 100px;
}

.entry-meta .posted-by {
    display: block;
    margin: 0;
    font-weight: 700;
}

.entry-meta .author.vcard,
.entry-meta span.posted-by>a {
    text-transform: inherit;
    margin-left: 0;
}

.entry-meta .posted-by img {
    float: left;
    margin-right: 15px;
}

.entry-edit-link {
    margin-left: auto;
}

.post-edit-link {
    text-transform: uppercase;
}

.post-meta-category {
    margin-bottom: 5px !important;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}

.post-meta-category a {
    color: var(--color-theme-primary);
    font-size: 13px;
}

.entry-meta .entry-cat-links::before,
.entry-meta .entry-comments-link a::before,
.entry-meta .entry-edit-link a::before,
.entry-meta .entry-featured::before {
    margin-right: 4px;
    font-family: 'Font Awesome 6 Free';
    font-style: normal;
    font-weight: 900;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.entry-meta .entry-cat-links::before {
    content: "\f115";
}

.entry-meta .entry-edit-link a::before {
    content: "\f040";
}

.entry-meta .entry-comments-link a::before {
    content: "\f0e5";
}

.entry-meta .entry-featured::before {
    content: "\f041";
}


/* Hides the update date and time. */

.updated:not(.published) {
    display: none;
}

.post-thumbnail img {
    width: 100%;
    margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1em 0 0;
}

.page-content>*,
.entry-content>*,
.entry-summary>* {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--content-width);
}

.page-content ul,
.entry-content ul,
.entry-summary ul,
.page-content ol:not(.comment-list),
.entry-content ol:not(.comment-list),
.entry-summary ol:not(.comment-list) {
    margin-left: 1.05em;
}

.page-header,
.entry-header,
.entry-footer,
.post-navigation,
.page-navigation,
.comments-area {
    margin: 0 0 1.5em;
    max-width: var(--content-width);
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-embedded-audio,
.entry-content .wp-embedded-video,
.entry-content .wp-video {
    margin: 0;
    margin-bottom: 1.5em;
}

p {
    margin: 0;
    margin-bottom: 15px;
}

.entry-content ul.wp-block-list li,
.entry-content ol.wp-block-list li {
    margin-bottom: 10px;
}

article .entry-header {
    max-width: max-content;
}

.type-grade .entry-header,
.type-grade .entry-footer,
.type-level .entry-header,
.type-level .entry-footer,
.type-quests .entry-header,
.type-quests .entry-footer,
.type-badges .entry-header,
.type-badges .entry-footer {
    display: none;
}

@media (--content-query) {

    .page-content>*,
    .entry-content>*,
    .entry-summary>*,
    .page-header,
    .entry-header,
    .entry-footer,
    .post-navigation,
    .page-navigation,
    .comments-area {
        padding-left: 0;
        padding-right: 0;
    }

    .entry-content>*.wp-block-code {
        padding: .8em 1em;
    }
}

.single-post .entry-content ul:not(.blocks-gallery-grid),
.single-post .entry-content ol {
    margin-left: 0;
    padding: 0;
    padding-left: 16px;
}

.entry-content ul ul,
.entry-content ol ol {
    margin-right: 0;
    margin-left: 0;
    padding-right: 1.5em;
    padding-left: 1.5em;
}


/* Align .more-link with the content. */

.entry-content>.more-link {
    display: block;
}

.page-links {
    clear: both;
    margin-bottom: 1.5em;
}

.entry-footer span {
    margin-right: 1em;
}

.entry-footer {
    clear: both;
    margin-bottom: 0;
    padding: 1.5em 0 0;
    border-top: 1px solid #e8e8e8;
}

@media (--content-query) {
    .entry-footer {
        padding-right: 0;
        padding-left: 0;
    }
}

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/

.alignleft {
    float: left;
    margin-right: 1.5rem;
}

.alignright {
    float: right;
    margin-left: 1.5rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: calc(50% + var(--content-width) / 2);
}

.alignfull {
    max-width: 100%;
    padding: 0;
}


/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-theme-primary-color,
.has-theme-primary-color a {
    color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
    background-color: var(--color-theme-primary);
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
    color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
    background-color: var(--color-theme-secondary);
}

.has-theme-red-color,
.has-theme-red-color a {
    color: var(--color-theme-red);
}

.has-theme-red-background-color {
    background-color: var(--color-theme-red);
}

.has-theme-green-color,
.has-theme-green-color a {
    color: var(--color-theme-green);
}

.has-theme-green-background-color {
    background-color: var(--color-theme-green);
}

.has-theme-blue-color,
.has-theme-blue-color a {
    color: var(--color-theme-blue);
}

.has-theme-blue-background-color {
    background-color: var(--color-theme-blue);
}

.has-theme-yellow-color,
.has-theme-yellow-color a {
    color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
    background-color: var(--color-theme-yellow);
}

.has-theme-black-color,
.has-theme-black-color a {
    color: var(--color-theme-black);
}

.has-theme-black-background-color {
    background-color: var(--color-theme-black);
}

.has-theme-grey-color,
.has-theme-grey-color a {
    color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
    background-color: var(--color-theme-grey);
}

.has-theme-white-color,
.has-theme-white-color a {
    color: var(--color-theme-white);
}

.has-theme-white-background-color {
    background-color: var(--color-theme-white);
}

.has-custom-daylight-color,
.has-custom-daylight-color a {
    color: var(--color-custom-daylight);
}

.has-custom-daylight-background-color {
    background-color: var(--color-custom-daylight);
}

.has-custom-sun-color,
.has-custom-sun-color a {
    color: var(--color-custom-sun);
}

.has-custom-sun-background-color {
    background-color: var(--color-custom-sun);
}


/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
    font-size: var(--font-size-small);
}

.has-regular-font-size {
    font-size: var(--font-size-regular);
}

.has-large-font-size {
    font-size: var(--font-size-large);
}

.has-larger-font-size {
    font-size: var(--font-size-larger);
}