/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Dashboard
# StoreList
# Single Store
# My Account
# Widgets
	
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

.dokan-alert {
    padding: 15px !important;
}

.dokan-dashboard-wrap fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.dokan-message,
.dokan-info,
.dokan-error {
    padding: 15px 15px 15px 50px !important;
}

.dokan-alert>p,
.dokan-alert>ul {
    margin-top: 0;
}


/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/


/* .dokan-dashboard .site-wrapper>aside {
    display: none;
}

.dokan-dashboard .site-wrapper {
    grid-template-columns: 1fr !important;
} */

.dokan-dashboard-wrap {
    margin-top: 2em;
}

.dokan-dashboard.dokan-dashboard .dokan-dashboard-content {
    background: #fff;
    padding: 15px;
    border: 1px solid var(--global-border-color);
}

.dokan-product-listing select.dokan-form-control {
    height: 40px;
}

.dokan-product-listing input.dokan-form-control {
    padding: 4px 6px;
}

.dokan-dashboard input[type='submit'].dokan-btn,
.dokan-dashboard a.dokan-btn,
.dokan-dashboard .dokan-btn {
    padding: 10px 20px;
}

.dokan-dashboard .pagination-wrap ul.pagination>li>span,
.dokan-dashboard .pagination-wrap ul.pagination>li>a {
    margin-left: 0;
}

.dokan-dashboard .dokan-product-listing .dokan-product-listing-area {
    padding: 0;
}

button.mfp-close,
button.mfp-arrow {
    background: transparent !important;
    color: #333 !important;
    border: 0 !important;
}

.dokan-dashboard .select2-container--open .select2-dropdown {
    z-index: 999999;
}

.dokan-dashboard .dokan-add-new-product-popup .product-form-container .dokan-feat-image-upload a.dokan-feat-image-btn {
    font-size: 11px;
}

@media (max-width: 767px) {
    .dokan-product-listing .dokan-product-listing-area .dokan-w8,
    .dokan-product-listing .dokan-product-listing-area .dokan-w5 {
        width: 100%;
    }
    .dokan-dashboard .dokan-product-listing .dokan-product-listing-area .product-listing-top span.dokan-add-product-link {
        display: block;
        width: 100%;
        float: none;
        text-align: left;
    }
}

@media (max-width: 430px) {
    .dokan-dashboard .dokan-form-inline .dokan-form-group {
        float: none;
        margin-right: 0;
    }
    .dokan-dashboard.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .dokan-product-date-filter {
        display: block;
    }
    .dokan-dashboard.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .dokan-product-date-filter .dokan-form-group {
        margin-bottom: 15px;
    }
    .dokan-dashboard.dokan-dashboard .dokan-dash-sidebar article,
    .dokan-dashboard.dokan-dashboard .dokan-dashboard-content article {
        overflow: unset;
        overflow-x: auto;
    }
    .dokan-product-listing select#filter-by-type.dokan-form-control {
        max-width: 100% !important;
    }
    .dokan-dashboard.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .dokan-product-search-form {
        margin: 15px 0;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .dokan-dashboard.dokan-dashboard .dokan-product-listing .dokan-product-listing-area .dokan-product-search-form .dokan-form-group {
        width: 100%;
    }
}


/* Select2 Style */

.dokan-dashboard .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.dokan-dashboard .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}


/*--------------------------------------------------------------
# StoreList
--------------------------------------------------------------*/

#dokan-store-listing-filter-wrap {
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
}

#dokan-seller-listing-wrap.list-view {
    margin-left: 0;
    margin-right: 0;
}

#dokan-seller-listing-wrap.list-view ul.dokan-seller-wrap li {
    padding-left: 0;
    padding-right: 0;
}

.buddyx-dokan #dokan-store-listing-filter-wrap .right .item select {
    padding: 6px 20px;
}

#dokan-seller-listing-wrap .dokan-single-seller .store-wrapper .store-header .store-banner img {
    object-fit: cover;
}

#dokan-seller-listing-wrap.grid-view .store-content .store-data-container .featured-favourite {
    margin-bottom: 10px;
}

.buddyx-dokan #dokan-seller-listing-wrap .dokan-single-seller .store-wrapper .store-header .store-banner {
    min-height: 245px;
}

.buddyx-dokan #dokan-seller-listing-wrap.list-view .dokan-seller-wrap .dokan-single-seller .store-wrapper .store-header .store-banner {
    min-height: 180px;
}


/*--------------------------------------------------------------
# Single Store
--------------------------------------------------------------*/

.buddyx-dokan .dokan-single-store {
    margin-top: 1em;
}

@media (min-width: 1000px) {
    .buddyx-dokan .dokan-store-wrap.layout-left .dokan-store-sidebar {
        margin-right: 30px;
    }
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info-head .profile-img.profile-img-circle img {
    margin: auto;
}

.dokan-single-store .profile-frame .profile-info-box .profile-info-summery-wrapper .profile-info-summery .profile-info .dokan-store-info {
    margin: 0;
}

.dokan-single-store .dokan-store-tabs ul:after {
    content: "";
    display: table;
    clear: both;
}

.buddyx-dokan .dokan-single-store .dokan-store-tabs ul {
    padding: 0 5px;
}

.buddyx-dokan .dokan-single-store .dokan-store-tabs ul li {
    margin: 5px;
    margin-left: 0;
}

.dokan-store-tabs ul li.dokan-share-btn-wrap .dokan-share-btn {
    margin: 0;
}

.dokan-store-tabs .dokan-store-support-btn,
.dokan-store-tabs .dokan-live-chat {
    margin-top: 0;
    top: 0 !important;
}

.dokan-store-tabs .dokan-live-chat>span {
    top: 15px !important;
}

.dokan-live-chat>span {
    top: 12px !important;
}

.buddyx-dokan .dokan-single-store .dokan-store-tabs ul li a {
    padding: 8px 15px;
}

@media (max-width: 480px) {
    .dokan-store-tabs .dokan-right {
        float: none !important;
    }
    .buddyx-dokan .dokan-single-store .dokan-store-tabs ul {
        padding: 15px;
    }
    .buddyx-dokan .dokan-single-store .dokan-store-tabs ul li {
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
        border: 0;
    }
    .dokan-single-store .dokan-store-tabs ul li a {
        background: #f2f2f2;
    }
    .buddyx-dokan .dokan-single-store .dokan-store-tabs ul li a:not(.whatsapp-live-widget),
    .dokan-store-tabs ul li.dokan-share-btn-wrap .dokan-share-btn,
    .dokan-store-tabs .dokan-live-chat,
    .dokan-store-tabs .dokan-store-support-btn,
    .dokan-store-tabs .dokan-follow-store-button {
        width: 100%;
    }
}


/* Store Review */

.store-review-wrap.woocommerce #reviews h3 {
    margin: 0 0 20px;
}

.store-review-wrap.woocommerce #reviews #comments ol.commentlist li img.avatar {
    width: 42px;
    height: auto;
    border: 0;
    border-radius: 100%;
}

.woocommerce #reviews #comments ol.commentlist {
    padding: 0;
}


/* Store Header Template */

@media (min-width: 1200px) {
    .buddyx-dokan .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout2 .profile-info-summery-wrapper {
        height: 250px;
    }
}

@media (max-width: 480px) {
    .buddyx-dokan .dokan-single-store .profile-frame .profile-info-box.profile-layout-layout1 .profile-info-summery-wrapper {
        height: 300px;
    }
}


/*--------------------------------------------------------------
# My Account
--------------------------------------------------------------*/

body.buddyx-dokan.woocommerce-account ul li.woocommerce-MyAccount-navigation-link--rma-requests a:before {
    content: none;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.dokan-widget-area .widget {
    position: relative;
    margin: 1rem 0;
    margin-bottom: 30px;
    padding: 1em;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.dokan-widget-area .widget:last-child {
    margin-bottom: 1rem;
}

.dokan-widget-area .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dokan-widget-area .widget .widget-title {
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: .5em;
    border-bottom: 1px solid #e8e8e8;
}

.store-cat-stack-dokan>ul>li {
    padding-bottom: .5em;
    margin-bottom: 5px;
}

.dokan-widget-area .widget .store-cat-stack-dokan ul>li ul.children {
    margin-top: 5px;
}

#dokan-form-contact-seller:after {
    content: "";
    display: table;
    clear: both;
}