/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Links/Buttons Color
# Events
# Single Event
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

.tribe-events .tribe-events-calendar-list__event-date-tag-weekday,
.tribe-common .tribe-common-form-control-checkbox__label,
.tribe-common .tribe-common-form-control-radio__label,
.tribe-common .tribe-common-form-control-slider__label,
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-text__input,
#top .main_color .tribe-common .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common .tribe-common-form-control-text__input,
#top .main_color .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
#top.tribe-theme-enfold .tribe-common.tribe-common--breakpoint-medium .tribe-common-form-control-text__input,
.tribe-common .tribe-common-form-control-toggle__label,
.tribe-common .tribe-common-b1,
.tribe-common .tribe-common-b2,
.tribe-common .tribe-common-b3,
.tribe-common .tribe-common-cta,
.tribe-common .tribe-common-h1,
.tribe-common .tribe-common-h2,
.tribe-common .tribe-common-h3,
.tribe-common .tribe-common-h4,
.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6,
.tribe-common .tribe-common-h7,
.tribe-common .tribe-common-h8,
.tribe-theme-avada #main .tribe-common .tribe-common-h1,
.tribe-theme-avada #main .tribe-common .tribe-common-h2,
.tribe-theme-avada #main .tribe-common .tribe-common-h3,
.tribe-theme-avada #main .tribe-common .tribe-common-h4,
.tribe-theme-avada #main .tribe-common .tribe-common-h5,
.tribe-theme-avada #main .tribe-common .tribe-common-h6,
.tribe-theme-avada #main .tribe-common .tribe-common-h7,
.tribe-theme-avada #main .tribe-common .tribe-common-h8,
.tribe-common .tribe-common-c-btn-border,
.tribe-common a.tribe-common-c-btn-border,
.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn,
.tribe-events-single .tribe-events-sub-nav,
.tribe-events-content,
.tribe-events-event-meta {
    font-family: inherit;
}

.tribe-common button:focus {
    outline: none;
}


/*--------------------------------------------------------------
# Links/Buttons Color
--------------------------------------------------------------*/

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-datetime-featured-text,
.tribe-common .tribe-common-c-svgicon,
.tribe-common a:active,
.tribe-common a:focus,
.tribe-common a:hover,
.tribe-events .tribe-events-c-ical__link,
.tribe-events-schedule .recurringinfo a,
.tribe-related-event-info .recurringinfo a,
.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical,
.tribe-events-event-meta a,
.tribe-events-event-meta a:visited,
.tribe-events-single ul.tribe-related-events li .tribe-related-events-title a,
.tribe-events-pro .tribe-events-pro-organizer__meta-email-link,
.tribe-events-pro .tribe-events-pro-organizer__meta-website-link,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link,
.tribe-events-pro .tribe-events-pro-photo__event-datetime-featured-text,
.tribe-common--breakpoint-medium.tribe-events-pro .tribe-events-pro-map__event-datetime-featured-text,
.tribe-common .tribe-common-cta--thin-alt:active,
.tribe-common .tribe-common-cta--thin-alt:focus,
.tribe-common .tribe-common-cta--thin-alt:hover,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-events-list__view-more-link,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:active,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:focus,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:hover,
.tribe-events-pro .tribe-events-pro-week-grid__header-column--current .tribe-events-pro-week-grid__header-column-daynum,
.tribe-events-pro .tribe-events-pro-week-grid__header-column--current .tribe-events-pro-week-grid__header-column-daynum-link {
    color: var(--color-link-active);
}

.tribe-common .tribe-common-anchor-thin:active,
.tribe-common .tribe-common-anchor-thin:focus,
.tribe-common .tribe-common-anchor-thin:hover,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:active,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:focus,
.tribe-events-widget.tribe-events-widget .tribe-events-widget-featured-venue__view-more-link:hover {
    border-bottom-color: var(--color-link-active);
}

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
    background-color: var(--color-link-active);
}

.tribe-events .tribe-events-c-ical__link,
.tribe-events-pro .tribe-events-pro-map__event-card-wrapper--active .tribe-events-pro-map__event-card-button,
.tribe-common .tribe-common-cta--thin-alt,
.tribe-common .tribe-common-cta--thin-alt:active,
.tribe-common .tribe-common-cta--thin-alt:focus,
.tribe-common .tribe-common-cta--thin-alt:hover,
.tribe-events-pro .tribe-events-pro-week-day-selector__day--active {
    border-color: var(--color-link-active);
}

.tribe-events .datepicker .day.active,
.tribe-events .datepicker .day.active.focused,
.tribe-events .datepicker .day.active:focus,
.tribe-events .datepicker .day.active:hover,
.tribe-events .datepicker .month.active,
.tribe-events .datepicker .month.active.focused,
.tribe-events .datepicker .month.active:focus,
.tribe-events .datepicker .month.active:hover,
.tribe-events .datepicker .year.active,
.tribe-events .datepicker .year.active.focused,
.tribe-events .datepicker .year.active:focus,
.tribe-events .datepicker .year.active:hover,
.widget .tribe-events .tribe-events-calendar-month__day-cell--selected,
.widget .tribe-events .tribe-events-calendar-month__day-cell--selected:focus,
.widget .tribe-events .tribe-events-calendar-month__day-cell--selected:hover,
.tribe-events-pro.tribe-events-view--week .datepicker .day.current:before {
    background: var(--color-link-active);
}

.tribe-events .tribe-events-c-ical__link:active,
.tribe-events .tribe-events-c-ical__link:focus,
.tribe-events .tribe-events-c-ical__link:hover,
.widget .tribe-events-widget .tribe-events-widget-events-list__event-row--featured .tribe-events-widget-events-list__event-date-tag-datetime:after {
    background-color: var(--color-link-active);
}

.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn {
    background-color: var(--button_background_color);
    border: 1px solid var(--button_border_color);
}

.tribe-common .tribe-common-c-btn:focus,
.tribe-common .tribe-common-c-btn:hover,
.tribe-common a.tribe-common-c-btn:focus,
.tribe-common a.tribe-common-c-btn:hover {
    background-color: var(--button_background_hover_color);
    border: 1px solid var(--button_border_hover_color);
}


/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/

.tribe-events .tribe-events-l-container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.tribe-common--breakpoint-medium.tribe-common .tribe-common-l-container {
    padding-left: 0;
    padding-right: 0;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-view-selector--labels .tribe-events-c-view-selector__content {
    right: 0;
    left: auto;
}


/*--------------------------------------------------------------
# Single Event
--------------------------------------------------------------*/

#tribe-events-pg-template {
    margin: 0 auto;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.tribe-events-cal-links .tribe-events-gcal {
    padding-left: 0;
}

ul.tribe-events-sub-nav {
    padding: 0;
}

@media (min-width: 768px) {
    .tribe-events-meta-group {
        width: 250px;
    }
}


/*--------------------------------------------------------------
# Sidebar Widgets
--------------------------------------------------------------*/

.widget .tribe-events-widget {
    margin-bottom: 0;
}

.widget-area>div>.tribe-compatibility-container {
    position: relative;
    margin: 1rem 0;
    margin-bottom: 30px;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.tribe-common.tribe-events.tribe-events-widget-shortcode .widget-title {
    margin: -1rem -1rem 1rem;
    padding: 1rem 1rem .5em;
    border-bottom: 1px solid var(--global-border-color);
}

.tribe-common.tribe-events.tribe-events-widget-shortcode .widget-title.widget-title,
.tribe-common.tribe-events.tribe-events-widget-shortcode.tribe-events-widget-shortcode-events-week .widget-title.widget-title {
    font-size: 24px;
}

.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-events-month,
.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-events-shortcode-month {
    padding: 0;
}

.widget .tribe-events .tribe-events-calendar-month__day-cell--mobile {
    justify-content: center;
}

.widget .tribe-events-pro .tribe-events-pro-week-day-selector__day {
    text-align: center;
}

.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-events-week,
.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-shortcode-events-week {
    padding: 0;
}

.widget .tribe-events .tribe-events-calendar-month__day-cell--selected .tribe-events-calendar-month__day-date {
    color: #fff;
}

.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-events-week .tribe-events-c-top-bar__nav-list-date,
.widget .tribe-common.tribe-events.tribe-events-widget.tribe-events-view--shortcode.tribe-events-widget-shortcode-events-week .tribe-events-c-top-bar__nav-list-date {
    margin: 0 8px;
    font-size: 20px;
    padding-left: 15px;
}