/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
	# Accessibility
	# Header
		# Main navigation menu
	# Footer
	# Accessibility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_custom-properties.css";
@import "_blocks-style.css";
@import "_reset.css";
@import "_grid.css";
@import "_typography.css";
@import "_elements.css";
@import "_utility.css";
@import "_links.css";
@import "_header.css";
@import "_footer.css";
@import "_accessibility.css";



canvas {
    width: 100% !important;
    height: auto !important;
}

body.elementor-editor-active .site-header-wrapper {
    z-index: 99;
}

.elementor-template-full-width #page>.container,
.elementor-template-full-width #page>.container-fluid {
    max-width: 100%;
    padding: 0;
}

p:empty {
    content: none;
    margin: 0;
}

p:empty::before {
    content: none;
}

.wp-embed-responsive .wp-block-embed-vimeo .wp-block-embed__wrapper::before,
.wp-embed-responsive .wp-block-embed-youtube .wp-block-embed__wrapper::before {
    content: none;
}

body.elementor_library-template-default .primary-sidebar,
body.elementor-editor-active .primary-sidebar {
    display: none;
}

body.elementor_library-template-default .site-wrapper,
body.elementor-editor-active .site-wrapper {
    grid-template-columns: 1fr !important;
}