/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Dashboard Page
# Course Archive
# Single Course
# Single Lesson
# Purchase
# Membership Catalog
# LifterLMS Pagination
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

#container>#content {
    min-height: calc(100vh - 190px);
}

.course .entry-footer,
.lesson .entry-footer,
.llms_quiz .entry-footer {
    display: none;
}

.llms-button-secondary,
.llms-button-primary,
.llms-button-action {
    font-family: inherit;
    font-size: initial;
    color: #fff;
    background-color: var(--button_background_color);
    border-radius: 3px !important;
    padding: 10px 20px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: 1.3;
    border: 1px solid var(--button_border_color);
    outline: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all linear .2s;
    transition: all linear .2s;
}

.llms-button-secondary:hover,
.llms-button-primary:hover,
.llms-button-action:hover,
.llms-button-action.clicked {
    background-color: var(--button_background_hover_color);
    border: 1px solid var(--button_border_hover_color);
    color: #fff;
}

.llms-button-primary:focus,
.llms-button-primary:active,
.llms-button-action:focus,
.llms-button-action:active {
    background-color: var(--button_background_color);
}

.llms-button-action.large,
.llms-button-danger.large,
.llms-button-primary.large,
.llms-button-secondary.large {
    font-size: inherit;
    padding: 10px 20px;
}

#page .llms-table tfoot select {
    height: 35px;
    margin: 10px 0;
}

.llms-notice {
    padding: 10px !important;
}

.entry-content .llms-access-plan-description ul,
.llms-access-plan-description ul {
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------
# Dashboard Page
--------------------------------------------------------------*/

.llms-student-dashboard .llms-sd-items {
    display: flex;
    flex-flow: wrap;
    margin: 0 -5px;
}

.llms-student-dashboard .llms-sd-item {
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.llms-student-dashboard .llms-sd-item>a {
    margin: 0;
    padding: 10px 20px;
    background: #f1f1f1;
    width: 100%;
    text-align: center;
    border: 1px solid var(--global-border-color);
    border-radius: 8px;
}

.llms-student-dashboard .llms-sd-item>a:hover {
    background: #fff;
    border: 1px solid var(--color-link-hover);
}

.llms-student-dashboard .llms-sd-item.current>a {
    background: #fff;
    border: 1px solid var(--color-link-hover);
}

.llms-student-dashboard .llms-sd-item.current>a {
    color: var(--color-link-hover);
}

.llms-student-dashboard .llms-sd-item .llms-sep {
    display: none;
}

.llms-student-dashboard .llms-sd-section,
.edit-account .llms-person-form-wrapper,
.llms-person-login-form-wrapper,
.llms-quiz-results,
.entry-content .llms-quiz-ui {
    position: relative;
    margin: 1rem 0 30px;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.llms-student-dashboard .llms-sd-section .llms-button-secondary {
    display: inline-block;
}

.llms-sd-widgets .llms-sd-widget {
    border: 1px solid var(--global-border-color);
}

.llms-sd-notification-center .llms-notification {
    border-top: 1px solid var(--global-border-color);
}

.llms-sd-widgets .llms-sd-widget .llms-sd-widget-title {
    font-size: 14px;
}

.llms-table th,
.llms-table td {
    border-bottom: 1px solid var(--global-border-color);
}

.llms-sd-grades {
    overflow-x: auto;
}


/*--------------------------------------------------------------
# Course Archive
--------------------------------------------------------------*/

.post-type-archive-course #content {
    margin-top: 1.5em;
}

.llms-loop-item-content {
    position: relative;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
}

.llms-loop-item-content:hover {
    background: #fff;
}

.llms-loop-item-content .llms-meta,
.llms-loop-item-content .llms-author,
.llms-loop-item-content .llms-loop-title {
    padding: 0 15px;
}

.llms-loop-item-content .llms-loop-title:hover {
    color: var(--color-link-hover);
}

.llms-loop-item-content .llms-author {
    display: flex;
    align-items: center;
}

.llms-loop-item-content .llms-loop-link:focus {
    outline: none;
}

@media screen and (min-width: 60em) {
    .post-type-archive-course.has-sidebar-right #page>.container,
    .post-type-archive-course.has-sidebar-left #page>.container,
    .post-type-archive-llms_membership.has-sidebar-right #page>.container,
    .post-type-archive-llms_membership.has-sidebar-left #page>.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 2rem;
        justify-content: center;
    }
    .post-type-archive-course.has-sidebar-right div#page>.container #content,
    .post-type-archive-course.has-sidebar-left div#page>.container #content,
    .post-type-archive-llms_membership.has-sidebar-right div#page>.container #content,
    .post-type-archive-llms_membership.has-sidebar-left div#page>.container #content {
        grid-column: 1;
        min-width: 0;
    }
    .post-type-archive-course.has-sidebar-right #page>.container:before,
    .post-type-archive-course.has-sidebar-left #page>.container:before,
    .post-type-archive-llms_membership.has-sidebar-right #page>.container:before,
    .post-type-archive-llms_membership.has-sidebar-left #page>.container:before {
        content: none;
    }
}

.llms-progress .progress-bar-complete {
    background: var(--color-link-hover);
}


/*--------------------------------------------------------------
# Single Course
--------------------------------------------------------------*/

.single-course .entry-meta {
    display: none;
}

.single-course .entry.course {
    margin: 1rem 0 0;
}

.single-course .entry.course .post-thumbnail img {
    width: 100%;
}

.single-course .entry-content {
    position: relative;
    margin: 1rem 0 30px;
    padding: 1em;
    border: 1px solid var(--global-border-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

body .llms-syllabus-wrapper .llms-section-title {
    margin-top: 15px;
    text-align: left;
    font-size: 1.1em;
    padding: 10px 15px;
    background: var(--color-link-hover);
    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 4px;
}

body .llms-syllabus-wrapper .llms-lesson-preview {
    margin-top: 4px;
    display: block;
    width: auto;
    border: 1px solid var(--global-border-color);
    border-radius: 4px;
}

body .llms-lesson-preview .llms-lesson-link {
    border-radius: 4px;
}

body .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-link {
    min-height: auto;
}

body .is-enrolled .llms-syllabus-wrapper .llms-lesson-preview .llms-main {
    margin-left: 2em;
    margin-left: calc(1.2em + 15px);
    margin-top: 2px;
    width: 80%;
    width: calc(80% - 1.2em - 15px);
}

body .is-enrolled .llms-lesson-preview .llms-extra {
    float: right;
    width: 20%;
}

body .is-enrolled .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-complete {
    margin-bottom: 0;
    position: absolute;
    top: 18px;
    left: 15px;
    font-size: 1.4em;
    height: 1.2em;
    line-height: 1.2;
    width: 1em;
}

body .is-enrolled .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-complete .fa {
    font-size: 24px;
}

body .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-counter {
    line-height: 1.75;
    margin-bottom: 0;
    font-size: inherit;
}

@media (max-width: 480px) {
    .llms-lesson-preview .llms-lesson-title {
        font-size: 14px;
    }
}


/*--------------------------------------------------------------
# Single Lesson
--------------------------------------------------------------*/

.single-lesson .entry-meta {
    display: none;
}

.llms-form-field {
    padding: 15px;
}

.llms-lesson-button-wrapper {
    margin: 15px 0;
}


/*--------------------------------------------------------------
# Single Quiz
--------------------------------------------------------------*/

.single-llms_quiz .entry-meta,
.single-llms_quiz .entry-footer {
    display: none;
}

.single-llms_quiz .llms-quiz-attempt-results .llms-quiz-attempt-question .llms-status-icon {
    font-size: 20px;
}

.single-llms_quiz .llms-quiz-results .llms-donut {
    margin-bottom: 15px;
}

.single-llms_quiz .llms-quiz-results .llms-quiz-results-aside {
    margin-bottom: 0;
}

.entry-content .llms-question-wrapper ol.llms-question-choices {
    margin: 0;
    padding: 0;
}

.llms-question-wrapper ol.llms-question-choices li.llms-choice {
    border-bottom: 1px solid var(--global-border-color);
    margin: 0 0 15px;
    padding: 0 0 15px;
}


/*--------------------------------------------------------------
# Purchase
--------------------------------------------------------------*/

.llms-checkout {
    background: none;
}

.llms-checkout-col {
    background: #fff;
}

.llms-checkout-section {
    border: 1px solid var(--global-border-color);
}


/*--------------------------------------------------------------
# Membership Catalog
--------------------------------------------------------------*/

.post-type-archive-llms_membership #content {
    margin-top: 1.5em;
}


/*--------------------------------------------------------------
# LifterLMS Pagination
--------------------------------------------------------------*/

.llms-pagination ul.page-numbers {
    margin: 15px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.llms-pagination ul li .page-numbers {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 1em;
    min-width: 1.75em;
    line-height: 1.5;
    text-align: center;
    background: #fff!important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    text-shadow: none!important;
    box-shadow: inset 0 0 0 1px #e8e8e8;
    padding: 10px 15px;
    text-decoration: none;
}

.llms-pagination ul li .page-numbers.current {
    color: var(--color-link-hover);
}