/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/


/* Make sure select elements fit in widgets. */

.widget {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.widget-area .widget {
    position: relative;
    margin: 1rem 0;
    margin-bottom: 30px;
    padding: 1em;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: #fff;
}

.widget-area .widget:first-child {
    margin-top: 0;
}

.widget-area .widget:last-child {
    margin-bottom: 1rem;
}

.widget-area .widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget-area .widget .widget-title {
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-bottom: .5em;
    border-bottom: 1px solid #e8e8e8;
}

.widget .widget-title {
    font-size: 24px;
}

.widget li {
    line-height: 1.5;
}

.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_pages ul,
.widget_recent_entries ul,
.widget_rss ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget select {
    max-width: 100%;
    text-overflow: ellipsis;
}


/* Archive and Categories widgets */

.widget_categories li,
.widget_archive li {
    color: #7d7d7d;
    line-height: 1.3;
    padding-bottom: .5em;
    margin-bottom: 5px;
}

.widget_categories .children {
    padding-top: 0;
}


/* Search widget. */

.widget_search .search-submit {
    display: none;
}


/* Pages and Menu widgets */

.widget_pages .children,
.widget_nav_menu .sub-menu {
    padding-top: 0;
    padding-bottom: 0.5em;
}

.widget_pages a,
.widget_nav_menu a {
    display: block;
    padding: 0.6em 0;
    text-decoration: none;
    border-bottom: 1px dashed #808080;
}

.widget_pages a:hover,
.widget_pages a:focus,
.widget_nav_menu a:hover,
.widget_nav_menu a:focus {
    text-decoration: none;
    border-bottom: 1px dashed #808080;
}

.widget_pages li,
.widget_nav_menu li {
    padding: 0;
}

.widget_pages li ul,
.widget_nav_menu li ul {
    margin-left: 1em;
}


/* Meta widget */

.widget_meta li {
    padding: 0;
    line-height: 1.3;
    padding-bottom: .5em;
    margin-bottom: 5px;
}


/* Recent post */

.widget_recent_entries li {
    margin-bottom: 8px;
}


/* Recent comments */

.widget_recent_comments li {
    line-height: 1.3;
    padding-bottom: 0.5em;
    margin-bottom: 5px;
}

.widget_recent_comments a:hover,
.widget_recent_comments a:focus {
    padding-left: 0;
}


/* RSS widget */

.widget_rss li {
    margin-bottom: 1em;
    line-height: 1.3;
}

.widget li a.rsswidget {
    padding-right: 0.5em;
    font-size: 1em;
    line-height: 1.4;
}

.rss-date,
.widget_rss cite {
    color: #333;
    font-size: 0.8em;
}

.rssSummary {
    font-family: var(--global-font-family);
    padding: 0.5em 0;
    font-size: 0.9em;
    line-height: 1.3;
}


/* Search widget */

.widget.widget_search input[type="search"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5em 1em;
    border: 1px solid #c3c3c3;
    border-radius: 0;
}

.widget #searchform input.text_input {
    padding-left: 10px;
    width: 100%;
    padding-right: 65px;
}

.widget #searchform {
    position: relative;
    display: flex;
    align-items: center;
}

.widget #searchform input[type="submit"] {
    position: absolute;
    right: 3px;
    border-radius: 3px;
    height: 38px;
    line-height: 0;
}


/* Calendar widget */

.widget_calendar {
    font-weight: 400;
}

.widget_calendar caption {
    padding: 0.5em 0;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
}

.widget_calendar thead {
    background: transparent;
    color: #333;
}

.widget_calendar th {
    border: none;
    text-align: center;
}

.widget_calendar thead th {
    border-bottom-width: 2px;
}

.widget_calendar td {
    padding: 0.2em;
    font-size: 0.8em;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.widget_calendar .pad {
    background: #eaeaea;
}


/* ld courses widget */

.widget_sfwd-courses-widget li h4 {
    font-size: inherit;
    margin-bottom: 10px;
}

.widget_sfwd-courses-widget li:last-child h4 {
    margin-bottom: 0;
}


/* stylelint-disable */

.widget_calendar a {
    font-weight: 900;
    text-decoration: none;
}


/* stylelint-enable */